<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-7980db37-cf6f-45b5-b05e-23df60a80097;AttachDbFilename=|DataDirectory|\aspnet-Website-7980db37-cf6f-45b5-b05e-23df60a80097.mdf;Integrated Security=SSPI" 
       providerName="System.Data.SqlClient" />
  <add name="eRestaurant"
       connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>